<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgxx.springboot.mapper.DepartmentMapper">
    <select id="getDeptAll" resultType="com.xgxx.springboot.entities.Department">
        select * from department
    </select>

    <select id="getDeptById" resultType="com.xgxx.springboot.entities.Department" parameterType="java.lang.Integer" >
        select * from department where id=#{id}
    </select>

    <delete id="deleteDeptById" parameterType="java.lang.Integer">
        delete from department where id=#{id}
    </delete>

    <!--有时候在开发中需要向表中插入自增ID，这个时候领域模型如果想要获取该ID的值，就需要在相应的mapper文件中添加useGeneratedKeys="true" keyProperty="id"。设置完以后我们就可以在前端获取到该自增ID的值userModel.setId(userDO.getId());-->
    <insert id="insertDept" parameterType="com.xgxx.springboot.entities.Department" keyProperty="id" useGeneratedKeys="true">
    select * from department where id=#{id}>
        insert into department(departmentName) values (#{departmentName})
    </insert>
    
    <update id="updateDeptById" parameterType="com.xgxx.springboot.entities.Department">
        update  department set departmentName=#{departmentName} where id=#{id}
    </update>
</mapper>